<h1> <%= @users.first_name @users.middle_initial @users.last_name %> </h1>

<h3> Loyalty Programs </h3>

<p> <% @loyalty.each do |loyaltyProgram| %>
	<%= LoyaltyProgram.find_by(id: users.user_id).store %> 

<% end %>